.editButton {
    color: '#777777';
    font-size: '10px';
    display: 'none';
  }


  .cell:hover .editButton {
        display: 'inline';
        color: '#777777';
        font-size: '10px';
      }