/* .orderButton {
    visibility: hidden ;
} */

.cell:focus .orderButton {
    visibility: visible;
}

.cell {
    /* position: relative; */
    padding: 6px !important;
}

.cell-pointer {
    cursor: pointer !important ;
}

.form-control { 
    margin-bottom: 5px !important;
}