/* .orderButton {
    visibility: hidden ;
} */

.cell:focus .orderButton {
    visibility: visible;
}

.cell {
    /* position: relative; */
    padding: 6px !important;
}

.cell-pointer {
    cursor: pointer !important ;
}

.form-control { 
    margin-bottom: 5px !important;
}

.MuiTableRow-root:hover {
    background-color:#deedff !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} 